html {
  font-size: $base-font-size;
}

body {
  background-color: $lt-grey;
  color: $black;
  font-family: $base-font-stack;
  font-size: inherit;
}

main {
  @include padding(2, 2);
}

h2 {
  @include baseline(20/$base-font-size, 'sm');
}

p {
  @include baseline(1, 'sm');
}

a {
  text-decoration: none;
}

.page-header {
  background-color: $white;
  box-shadow: 0px 3px 6px -3px $md-grey;
  height: $base-line-height*2em;
  position: fixed;
  width: 100%;
}

.logo {
  @include baseline(28/$base-font-size, 'lg');
  color: $green;
  font-family: $logo-font;
  margin: 0;
  text-align: center;
  text-shadow: 0px 2px 2px $lt-green;
}

.panel {
  background-color: $white;
  box-shadow: 0px 3px 6px -3px $md-grey;
  margin-bottom: $base-line-height*1em;
}

.panel-header {
  height: $base-line-height*2em;
  p {
    @include padding(0.5, 0);
    display: inline-block;
    margin: 0 $pad;
  }
}

.panel-comments, .panel-action {
  padding-left: $pad;
  padding-right: $pad;
}

.panel-comments {
  p {
    line-height: 1.4;
  }
}

.panel-action {
  i {
    margin-right: $pad;
  }
  .active {
    color: $red;
  }
}

.profile-thb {
  background-color: $green;
  display: inline-block;
  height: 100%;
  width: $base-line-height*2em;
}

.profile-thb-activity {
  @extend .profile-thb;
  height: $base-line-height*2em;
  width: $base-line-height*2em;
}

.activity {
  @include padding(0.5, 0.5);
  i {
    width: $base-line-height*2rem;
  }
  p {
    line-height: 1.4;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 66%;
  }
  img {
    height: $base-line-height*2em;
    width: auto;
  }
  &:first-of-type {
    margin-top: $base-line-height*0.5em;
  }
}

form {
  @include padding(1, 1);
  margin-top: $base-line-height*2em;
}

.form-group {
  margin-bottom: $base-line-height*1em;
}

.form-control {
  display: block;
  width: 100%;
}

.input-file {
  @extend .visuallyhidden;
}

.btn {
  @include padding(0.5, 0.5);
  background-color: $green;
  box-shadow: 0px 3px 6px -2px $md-grey;
  color: $white;
  font-weight: bold;
  padding-left: $pad;
  padding-right: $pad;
  margin: auto;
  width: 50%;
}

.choose-kids-bar {
  @include padding(1, 1);
  height: $base-line-height*4em;
  div {
    margin-right: 10px;
  }
}

.page-footer {
  background-color: $dk-grey-blue;
  bottom: 0;
  box-shadow: 0px -2px 4px -2px $md-grey;
  height: $base-line-height*2em;
  position: fixed;
  width: 100%;
  a {
    height: 100%;
    width: 100%;
  }
  i {
    color: $white;
    padding-top: 8px;
    font-size: 32px;
    text-align: center;
    width: 25%;
  }
  .active {
    color: $green;
  }
}
