// Colors
$black: #212121;
$dk-grey: #757575;
$lt-grey: #EEE;
$md-grey: #BDBDBD;
$off-white: #FAFAFA;
$white: #FFF;

$dk-grey-blue: #263238;
$green: #00BFA5;
$lt-green: #E0F2F1;

// Fonts
$base-font-stack: "Source Sans Pro", sans-serif;
$logo-font: "Dancing Script", cursive;
